{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<!-- TODO: UI needs to be optimise -->
<div class="container">
    <form method="POST" class="needs-validation" id="configform" action="{{ url_for('student.create_profile') }}">
        <div class="mb-3">
            <label for="student_id" class="col-form-label">Student Id</label>
            <input type="number" required id="student_id" name="student_id" class="form-control">
        </div>
        <div class="mb-3">
            <label for="formal_name" class="col-form-label">Full Name</label>
            <input type="text" required id="formal_name" name="formal_name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="preferred_name" class="col-form-label">Preffered Name</label>
            <input type="text" required id="preferred_name" name="preferred_name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" required class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
            <label for="phone" class="col-form-label">Phone Number</label>
            <input type="text" required class="form-control" name="phone" id="phone">
        </div>
        <div class="mb-3">
            <label for="city" class="col-form-label">City</label>
            <input type="text" required class="form-control" name="city" id="city">
        </div>
        <div class="modal-footer">
            <button type="Cancel" class="btn btn-primary" onclick="history.go(-1)">Cancel</button>
            <button type="submit" id="saveconfig" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}