{% extends 'base.html' %}
{% block title %}
   project detail
{% endblock %}
{% block css %}
    <meta charset="utf-8">
    <title>project detail</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">

    <link type="text/css" rel="stylesheet" href=" {{ url_for('static',filename='css/index.css') }}">
    <!--css、JS-->

    <!--Jquery-->

    <script src="{{ url_for('static',filename='datatables/js/jquery.js') }}"></script>

{% endblock %}
{% block content %}
<div id="title">

</div>

<div id="content-area" class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{{ url_for('mentor.dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('mentor.project_detail') }}">Project List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View Project</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="margin: 20px 0"><h2 style="text-align: center">Project Detail</h2></div>
        <div class="col-8 offset-2">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ result.project[1] }}" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label for="validationTextarea" class="col-sm-2 col-form-label">Summary</label>
                <div class="col-sm-10">
                    <textarea class="form-control" readonly>{{ result.project[2] }}</textarea>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">Number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="{{ result.project[3] }}">
                </div>
            </div>
             <div class="row mb-3">
                    <label for="inlineCheckbox" class="col-sm-2 col-form-label">Skills</label>
                    <div class="col-sm-10">
                        {% for skill in result.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="skills"
                                       id="inlineCheckbox{{ skill[0] }}" value="{{ skill[0] }}"
                                        {% if skill[0] in result.skill_id_list %}
                                       checked
                                        {% endif %} >
                                <label class="form-check-label"
                                       for="inlineCheckbox{{ skill[0] }}">{{ skill[1] }}</label>
                            </div>
                        {% endfor %}
                    </div>
             </div>
             <div class="row mb-3">
                 <label for="mentor_id" class="col-sm-2 col-form-label">Mentor Name</label>
                 <div class="col-sm-10">
                     <select class="form-control" name="mentor_id" id="mentor_id">
                         {% for mentor in result.mentors %}
                             <option value="{{ mentor[0] }}" {% if mentor[0] == result.project[5] %}
                                     selected
                             {% endif %} >{{ mentor[1] }}</option>
                         {% endfor %}
                     </select>
                 </div>
             </div>
            <div class="row mb-3">
                <label for="inputProjectType" class="col-sm-2 col-form-label">Project Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="{{ result.project[6] }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputLocation" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly value="{{ result.project[7] }}">
                </div>
            </div>

        </div>
    </div>
    <div class="row">
    <div class="=col-8 offset-6">
        <a href="{{ url_for('mentor.project_detail') }}" class="btn btn-secondary" style="width: 120px">BACK</a>
    </div>
</div>
</div>


<div id="footer_container">

</div>
{% endblock %}

