{% extends "base.html" %}

{% block title %}
    Project List
{% endblock %}
{% block css %}
    <meta charset="utf-8">
    <title>Project List</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">

    <link type="text/css" rel="stylesheet" href=" {{ url_for('static',filename='css/index.css') }}">
    <!--css、JS-->

    <!--Jquery-->

    <script src="{{ url_for('static',filename='datatables/js/jquery.js') }}"></script>

{% endblock %}



{% block content %}
<body>
    <div id="title">

    </div>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{{ url_for('mentor.dashboard') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('mentor.project_detail') }}">Project List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Project</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="margin: 20px 0"><h3 style="text-align: center">Project</h3></div>
        <div class="col-8 offset-2">
            <form action="{{ url_for('mentor.edit_project') }}" method="post">
                <input type="text" name="id" value="{{ result.project[0] }}" hidden>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" required id="inputEmail3"
                               value="{{ result.project[1] }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="validationTextarea" class="col-sm-2 col-form-label">Summary</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="summary" id="validationTextarea"
                                  placeholder="Required example textarea"
                                  required>{{ result.project[2] }}</textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="number" required id="inputNumber"
                               value="{{ result.project[3] }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inlineCheckbox" class="col-sm-2 col-form-label">Skills</label>
                    <div class="col-sm-10">
                        {% for skill in result.skills %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="skills"
                                       id="inlineCheckbox{{ skill[0] }}" value="{{ skill[0] }}"
                                        {% if skill[0] in result.skill_id_list %}
                                       checked
                                        {% endif %} >
                                <label class="form-check-label"
                                       for="inlineCheckbox{{ skill[0] }}">{{ skill[1] }}</label>
                            </div>
                        {% endfor %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="other"
                                   placeholder="please input single skill">
                            <label class="form-check-label" for="other">Other</label>
                        </div>
                        <div class="form-check form-check-inline" style="display: none" id="other-textBox">
                            <input class="form-control" type="text" name="other">
                        </div>
                    </div>
                </div>
               <!--<div class="row mb-3">
                    <label for="company_id" class="col-sm-2 col-form-label">Company</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="company_id" id="company_id">
                            {% for company in result.companies %}
                                <option value="{{ company[0] }}" {% if company[0] == result.project[4] %}
                                        selected
                                {% endif %} >{{ company[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div> -->
                <div class="row mb-3">
                    <label for="inputProjectType" class="col-sm-2 col-form-label">Project Type</label>
                    <div class="col-sm-10">
                        <input type="text" name="project-type" class="form-control" required id="inputProjectType"
                               value="{{ result.project[5] }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputLocation" class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-10">
                        <input type="text" name="location" class="form-control" required id="inputLocation"
                               value="{{ result.project[6] }}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="placement_status" class="col-sm-2 col-form-label">Placement Status</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="placement_status" id="placement_status">
                            <option value="Not Looking" {% if 'Not Looking' == result.project[7] %}
                                    selected
                            {% endif %} >Not Looking
                            </option>
                            <option value="Actively Looking" {% if 'Actively Looking' == result.project[7] %}
                                    selected
                            {% endif %} >Actively Looking
                            </option>
                            <option value="Filled" {% if 'Filled' == result.project[7] %}
                                    selected
                            {% endif %} >Filled
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 offset-3">
                        <button type="submit" class="btn btn-primary" style="width: 120px">SAVE</button>
                        <a href="{{ url_for('mentor.project_detail') }}" >
                        <button type="button" class="btn btn-secondary" style="width: 120px">CANCEL</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div id="footer_container">

</div>



<script>
    $(function () {
        let checkbox = document.getElementById('other')
        checkbox.addEventListener("change", function () {
            if (checkbox.checked) {
                $('#other-textBox').css('display', 'inline-block');
            } else {
                $('#other-textBox').css('display', 'none');
            }
        })
    })
</script>
</body>


{% endblock %}
