
{% extends 'base.html' %}
  {% block title %}
      student list
{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <title>Student List</title>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">

    <link type="text/css" rel="stylesheet" href=" {{ url_for('static',filename='css/index.css') }}">
    <!--css、JS-->

    <!--Jquery-->

    <script src="{{ url_for('static',filename='datatables/js/jquery.js') }}"></script>

{% endblock %}

{% block content %}

<div id="title">

        <div id="content-area" class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="{{ url_for('mentor.dashboard') }}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Student List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        

        <div class="container px-7 py-5" >
            <div class="row">
                <h3 style="text-align: center">Student List</h3>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr class="bg-secondary text-white">

                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">email</th>
                        <th scope="col">Project Preference</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for datum in student %}
                        <tr>
                            <td>{{ datum.1 }}</td>
                            <td>{{ datum.2 }}</td>
                            <td>{{ datum.3 }}</td>
                            <td>{{ datum.4 }}</td>

                            <td>
                                <a href="{{ url_for('mentor.student_profile') }}?id={{ datum.0 }}" class="btn btn-primary">View</a>
                                <a href="{{ url_for('mentor.download_cv') }}?id={{ datum.0 }}" class="btn btn-primary">Download CV</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
